In [1]:
str1 ="which means it has been ever more than "
str2=76
str3=" quirks"
print(str1+str(str2)+str3)

which means it has been ever more than 76 quirks

In [2]:
print(str1,str(str2),str3);

which means it has been ever more than  76  quirks

In [4]:
x=True
if x:
    print("executing if")
else:
    print("executing else")
print("print regardsies of the outcome of the if-else block")

executing if
print regardsies of the outcome of the if-else block

In [5]:
x=True
if x:
    print("executing if ")
else:
    print("executing else")
print("print regardsies of the outcome of the if-else block")

executing if
print regardsies of the outcome of the if-else block

In [11]:
num=21
if num%2==0:
    print(int(num),"is even")
else:
     print(num,"is odd")

21 is odd

In [12]:
num=20
if num%2==0:
    print(num ,"is even")
else:
    print(num,"is odd")

20 is even

In [16]:
number=20
if number<=10:
    print("number is in 10 range")
elif number<=20:
     print("number is in 20 range")
elif number<=30:
    print("number are in 30 range")
else:
    print("numbr is out of range")

number is in 20 range

In [17]:
for i in range(0,5):
    print(i,"pakistan")

0 pakistan
1 pakistan
2 pakistan
3 pakistan
4 pakistan

In [18]:
num=5
for i in range(1,11):
    print(num ,"x",i ,"=" ,num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
num=5
n=1
while n<=10:
    print(num,"x",n,"=",n*num)
    n=n+1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
z=1
while z<=10:
    print(z,"peshawar")
    z=z+1

1 peshawar
2 peshawar
3 peshawar
4 peshawar
5 peshawar
6 peshawar
7 peshawar
8 peshawar
9 peshawar
10 peshawar

In [21]:
num=6
z=1
while z<=10:
    print(num,"x",z,"=",num*z)
    z=z+1

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [27]:
for i in range(1,20):
    if i%2==1:
        continue
    else:
        print(i)

2
4
6
8
10
12
14
16
18

In [28]:
for i in range(1,20):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [29]:
def printnum(num):
    print("my favourite number is",num)
printnum(7)
printnum(8)
printnum(10)

my favourite number is 7
my favourite number is 8
my favourite number is 10

In [91]:
def printnum(num):
    if num%2==0:        
        print(num,"is even")
    else:
     print(num, "is odd number")
printnum(22)

22 is even

In [33]:
def printnum(num):
    for i in num:
        if i%2==0:
            i+=1
            continue
        else:
            print(i)

In [34]:
num=(1,2,3,4,5,6,7,8,9,11,12,13,14,15)
printnum(num)

1
3
5
7
9
11
13
15

In [57]:
x=3.4
remainder=x%1
if remainder < 0.5:
    print("number rounded down")
    x=x-remainder
else:
    print("number is rounded up")
    x=x+(1-remainder)
print("final answer is ",x)

number rounded down
final answer is  3.0

In [35]:
def roundup(x):
    remainder=x%1
    if remainder < 0.5:
        print("number rounded down")
        x=x-remainder
    else:
        print("number is rounded up")
        x=x+(1-remainder)
    return x

In [36]:
roundup(364.4)

number rounded down

364.0

In [41]:
def real(x):
    remainder=x%1
    if remainder <0.5:
        print("number is round down")
        x=x-remainder
    else:
        print("number is rounded up")
        x=x+(1-remainder)
    return(x)

In [42]:
real(3.8)

number is rounded up

4.0

In [44]:
def simple2(x,y):
    y=int(y) 
    print("addition of",x,"and",y,"=", x+y)
    print("subtraction of",x,"and",y,"=",x-y)
    print("multiplication of",x,"and",y,"=",x*y)
    print("division of",x,"and",y,"=",x/y)
    return(x,y)

In [45]:
simple2(20,"35")

addition of 20 and 35 = 55
subtraction of 20 and 35 = -15
multiplication of 20 and 35 = 700
division of 20 and 35 = 0.5714285714285714

(20, 35)

In [46]:
def prime2(x):
    result=0
    for y in range(2,x):
        if x%y==0:
            result=1
            print(x,"number is not prime number")
            break
    if(result==0):
        print(x,"number is prime")

In [47]:
prime2(24)

24 number is not prime number

In [20]:
str="phyton"
print(len(str))

6

In [210]:
print(str[3])

t

In [211]:
print(type(str))

<class 'str'>

In [233]:
str1="advanced programe in phyton"
y=len(str1)-1
while(y>=0):
    print(str1[y])
    y=y-1

n
o
t
y
h
p

n
i

e
m
a
r
g
o
r
p

d
e
c
n
a
v
d
a

In [1]:
for i in range(1,10):
    if i%2 == 0:
     print(i,"python")

2 python
4 python
6 python
8 python

In [49]:
str1="programming"
y=len(str1)-1
y=y/2
y=(int(y))
print(str1[y-1],str1[y],str1[y+1])

r a m

In [50]:
def simpl(str1):
    y=len(str1)-1
    y=y/2
    y=(int(y))
    print(str1[y-1],str1[y],str1[y+1])

In [51]:
simpl("programming")

r a m

In [52]:
def simple1(s1,s2):
    middle=round(len(s1)/2)
    s=s1[:middle:]
    t=s1[middle:]
    s3=s+s2+t
    print(s3)

In [53]:
simple1("ault","kelly")

aukellylt

In [56]:
def del1(st):    
    dl=","
    count=0
    length=len(st)
    for i in range(0,length):
        if dl[0] == st[i]:
            count=count+1
    print(count)

In [57]:
st=("hello, this is our class this is laptopvthis is university")
del1(st)

1

In [58]:
def stringcount(str1,str2):
    count=0
    for i in range(0,len(str1)):
        if str2[0]==str1[i]:
            count=count+1
    print(count)

In [59]:
stringcount("hello, this is our class this is laptopvthis is university","is")

8

In [60]:
def simple1(n,x):
    val1=n
    val2=x
    sum1=val1+val2
    #return sum1
    print(val1,"+",val2,"=",sum1)
    #return sample1(val2,sum1)

In [61]:
simple1(2,3)

2 + 3 = 5

In [46]:
def sam(m,n):
    val1=m
    val2=n
    addition=val1+val2
    multiplication=val1*val2
    subtraction=val1-val2
    division=val1/val2
    mod=val1%val2
    print(val1,"+",val2,"=",addition)
    print(val1,"x",val2,"=",multiplication)
    print(val1,"-",val2,"=",subtraction)
    print(val1,"/",val2,"=",division)
    print(val1,"%",val2,"=",mod)

In [47]:
sam(8,4)

8 + 4 = 12
8 x 4 = 32
8 - 4 = 4
8 / 4 = 2.0
8 % 4 = 0

In [ ]:
n=int(input("enter the number"))
prod=1
while n>1:
    prod=prod*n
    n=n+1
print(prod)

In [ ]:
def cube1(x):
    x=x**3
    return x

In [ ]:
cube1(9)

In [ ]:
def product1(y,z):
    prod=y*z
    return prod

In [ ]:
def addition1(c,d,e):
    result=c+d+e
    return result

In [ ]:
def final(a,b,c):
    final result=addition1(cube1(a),cube1(b),cube1(c)+3*addition1(product1(a,b),product1(b,c),product1(c,a)))
    return a,b,c

In [ ]:
final(2,4,5)